# Título 1
## Título 2
________________________________
- Lista 1
- Lista 2
    - Lista 2.1
    - Lista 2.2
_______________________________________
### Texto en negrita
**Palabra** o __Palabra en negrita__

### Texto en cursiva
*Cursiva* o _Texto en cursiva_

__________________________________
### Hipervinculos

[Texto](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tooltyp.com%2F8-beneficios-de-usar-imagenes-en-nuestros-sitios-web%2F&psig=AOvVaw1JHndIgZCc8FjMzWtiYFO4&ust=1680639558495000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMDHq7HEjv4CFQAAAAAdAAAAABAE)
__________________________________
### Imágenes

![Texto de imagen](https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/solar-orbiter-toma-imagenes-del-sol-como-nunca-antes/9437612-1-esl-MX/Solar-Orbiter-toma-imagenes-del-Sol-como-nunca-antes.jpg)

<img src="https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/solar-orbiter-toma-imagenes-del-sol-como-nunca-antes/9437612-1-esl-MX/Solar-Orbiter-toma-imagenes-del-Sol-como-nunca-antes.jpg" width="200" heigth="200">

# Función __*print()*__

In [1]:
# Utilizando la función print 
"""Esto
es 
un
comentario
multilinea"""


print("¡Hola Mundo!")

¡Hola Mundo!

In [10]:
# Las variables se pueden reasignar
saldo = 50
saldo = 20
# Para concatenar texto y el valor de una variable se utiliza la coma (,)
print("Saldo actual", saldo)

Saldo actual 20

In [11]:
# Para saber qué tipo de dato está almacenando mi variable se utiliza la función 'type'
type(saldo)

int

In [31]:
# Ejercicio-1: Guardar en 2 variables su nombre y apellido e imprimirlos por consola 

nombre = "Monty J"
apellido = "Python"

print("Mi nombre es:", nombre,"\n", nombre, apellido, sep=" ", end=".")
type(nombre)

Mi nombre es: Monty J
 Monty J Python.

str

# Métodos
______________________

In [32]:
# Mayusculas
nombre.upper()

'MONTY J'

In [33]:
# Minusculas
nombre.lower()

'monty j'

In [34]:
# Título: cada palabra se colcoa en mayuscula
nombre.title()

'Monty J'

In [36]:
# Contar la cantidad de veces que se repite un caracter
nombre.count("o")

1

In [39]:
# Comprobar si la palabra inicia con cierto caracter
nombre.startswith("M")

True

In [44]:
# Comprobar si la palabra termina con cierto caracter
nombre.endswith("j")

False

In [46]:
# Ejercicio 2
# Realizar un código para evaluar el área de un triángulo, mostrar/imprimir el resultado en consola
print("Calcular el área de un triángulo")
base = 5
altura = 7

resultado = (base * altura / 2)

print("El área del triángulo es:", resultado)

Calcular el área de un triángulo
El área del triángulo es: 17.5

In [54]:
# Ejercicio 3:
""" Había una vez 3 personas, Juan tenía 3 manzanas, María tenía 5 manzanas, y Luis tenía 6 manzanas. 
Se pide que:
- Se cree una variable para cada persona y asignarles el número de manzanas que tiene cada uno
- Imprimir/Mostrar por consola los nombres de cada persona junto con la cantidad de manzanas, separados por un "|"
- Crear una variable para almacenar el total de manzanas e imprimir su valor por consola"""

juan = 3
maria = 5
luis = 6

print("Juan", juan, "María", maria, "Luis", luis, sep=" | ")

total_manzanas = juan + maria + luis

print("La cantidad total de manzanas es: ", total_manzanas)

Juan | 3 | María | 5 | Luis | 6
La cantidad total de manzanas es:  14

# Función __*input()*__

In [64]:
edad = int(input("Ingresa tu edad: "))
print("Tu edad duplicada es de: ", edad*2)

Tu edad duplicada es de:  40

In [62]:
print("2") # String / Cadena de texto
print(2) # Int / Entero

2
2

In [65]:
# Ejercicio 4:
""" Crear 2 variables y asignarles valores flotantes (decimales) e imprimir la suma, resta, multiplicación
y división por consola"""

numero1 = float(input("Ingresa el primer número decimal: "))
numero2 = float(input("Ingresa el segundo número decimal: "))

print("La suma es: ", numero1 + numero2)
print("La resta es: ", numero1 - numero2)
print("La multiplicación es: ", numero1 * numero2)
print("La división es: ", numero1 / numero2)

La suma es:  7.0
La resta es:  2.5999999999999996
La multiplicación es:  10.56
La división es:  2.1818181818181817

In [4]:
x = float(input("Ingresa un valor para x: "))

# Escribe tu código aquí
y = 1/(x + 1/(x + 1/(x + 1/x)))

print("y=", y, sep=" ")

y= 0.09901951266867294